$root-text-color: white;
$root-text-size: 1.2vh;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../public/assets/fonts/MaterialIcons-Regular.ttf);
}

@font-face {
  font-family: 'MuseoModerno';
  src: url(../public/assets/fonts/MuseoModerno-Regular.ttf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: url(../public/assets/images/2411783.jpg);
  background-position: center center;
  background-size: cover;
  font-size: $root-text-size;
  // background: #f8484b;
  // background: -webkit-linear-gradient(to right, #f8484b, #e97942);
  // background: linear-gradient(to right, #f8484b, #e97942);
  font-family: 'MuseoModerno';
  color: $root-text-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  max-height: 80vh;
  transition: 0.5s;
  overflow: hidden;
  padding: 0.5em;
  transition: 0.2s;
}

@media screen and (max-width: 600px) {
  html, body {
    font-size: 70%;
    overflow: scroll;
  }

  main {
    flex-direction: column;
    max-height: 100%;
    // max-height: calc(100vh - 1em);
    overflow: hidden;
    overflow: scroll;
  }
}

@media screen and (max-height: 400px) {
  html, body {
    font-size: 2vh;
    overflow: scroll;
  }
}